[submodule "home/.dircolors-solarized"]
    path = home/.dircolors-solarized
    url = https://github.com/seebi/dircolors-solarized.git
[submodule "home/.tmux/plugins/tpm"]
    path = home/.tmux/plugins/tpm
    url = https://github.com/tmux-plugins/tpm.git
[submodule "home/.tmux/plugins/tmux-resurrect"]
    path = home/.tmux/plugins/tmux-resurrect
    url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "home/.tmux/plugins/tmux-sensible"]
    path = home/.tmux/plugins/tmux-sensible
    url = https://github.com/tmux-plugins/tmux-sensible.git
[submodule "home/.vim/bundle/vim-colors-solarized"]
    path = home/.vim/bundle/vim-colors-solarized
    url = https://github.com/altercation/vim-colors-solarized.git
[submodule "home/.emacs.d"]
	path = home/.emacs.d
	url = https://github.com/syl20bnr/spacemacs.git
[submodule "home/.vim/bundle/vim-markdown-folding"]
	path = home/.vim/bundle/vim-markdown-folding
	url = https://github.com/nelstrom/vim-markdown-folding.git
[submodule "home/.config/fish/nvm-wrapper"]
	path = home/.config/fish/nvm-wrapper
	url = https://github.com/passcod/nvm-fish-wrapper.git
