[submodule "home/.dircolors-solarized"]
    path = home/.dircolors-solarized
    url = https://github.com/seebi/dircolors-solarized.git
[submodule "home/.tmux/plugins/tpm"]
    path = home/.tmux/plugins/tpm
    url = https://github.com/tmux-plugins/tpm.git
[submodule "home/.tmux/plugins/tmux-resurrect"]
    path = home/.tmux/plugins/tmux-resurrect
    url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "home/.tmux/plugins/tmux-sensible"]
    path = home/.tmux/plugins/tmux-sensible
    url = https://github.com/tmux-plugins/tmux-sensible.git
[submodule "home/.emacs.d"]
    path = home/.emacs.d
    url = https://github.com/syl20bnr/spacemacs.git
[submodule "home/.config/i3blocks-contrib"]
	path = home/.config/i3blocks-contrib
	url = git@github.com:vivien/i3blocks-contrib.git
