#!/bin/bash

#############
#  Aliases  #
#############

# tmux requires strange things to get 256-color and ncurses to play nicely.
# https://unix.stackexchange.com/questions/1045/getting-256-colors-to-work-in-tmux
# https://bbs.archlinux.org/viewtopic.php?pid=880348
#alias tmux="TERM=xterm-256color tmux"

# weechat requires similar sorcery
alias weechat="TERM=screen-256color weechat"

# Enable color support of ls and others
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    #alias dir='dir --color=auto'
    #alias vdir='vdir --color=auto'
    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

# ls aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# findd recursively lists all files in dir with a shortly specified maxdepth
alias findd='find . -maxdepth'

# Add an "alert" alias for long running commands.  Use like so:
#   sleep 10; alert
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

# Find process command
alias proc="ps -ef | grep -v grep | grep"

# Alias for quick reloading of zsh
alias zsh-reload='source ~/.zshrc'

# Alias for making quick python-commands inline
alias pyc='python3 -c'

# Systemd
alias sctl="systemctl"
alias usctl="systemctl --user"

# Ain't nobody got time for `tmux a`
alias ta="tmux a"

# Clipboard helper func
case $(uname) in
    Linux)
        alias toclip='xclip -sel clipboard' ;;
    Darwin)
        alias toclip='pbcopy' ;;
esac

# Please do as I say, I am your master.
alias plz='sudo $(fc -ln -1)'
