*.swp

# Config dir can contain sensitive data
.config/*
!.config/ipython/profile_default/ipython_config.py
!.config/systemd/user
.config/systemd/user/*.wants
!.config/fish
.config/fish/fish_history

# A lot of scripts and bins are stored in .bin, not all should
# be commited and all should be carefully hand-picked.
.bin

# xmonad.hs but not compiled files etc.
.xmonad/*
!.xmonad/xmonad.hs
!.xmonad/bg.png

# Some vim stuff
.vim/.netrwhist
.vim/shada

# WeeChat
.weechat/*
!.weechat/python
!.weechat/perl

# GnuPG, obviously
.gnupg

# Uncertain which files here are okay to upload
.atom

.vimperator/info
