[user]
	email = erik@bjareho.lt
	name = Erik Bjäreholt
	signingkey = 0x73349C58108227B5

[core]
	autocrlf = input
	editor = nvim
	pager = delta --dark --diff-so-fancy
    # Use a short ConnectTimeout for SSH connections to quicker get notified of unreachable hosts
    # This is especially useful when using git-annex with many remotes, as it avoids long delays when trying to connect to unreachable hosts.
    # (typical with git-annex remotes that have gone offline).
	sshCommand = ssh -o ConnectTimeout=2

[init]
	defaultBranch = master

[interactive]
    #diffFilter = delta --color-only

[status]
	submoduleSummary = true

[commit]
	gpgSign = false

[pull]
	ff = only
	rebase = true

[push]
	default = current
	autoSetupRemote = true

[rebase]
	autoStash = true

[color]
	ui = true

[color "status"]
    changed = yellow
    untracked = red
    added = green bold

[delta]
    features = decorations line-numbers #side-by-side
    syntax-theme = Monokai Extended
    #whitespace-error-style = 22 reverse
    #plus-color = "#012800"
    #minus-color = "#340001"

    [delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =

[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[alias]
	merge-diff-theirs = diff HEAD...MERGE_HEAD

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[filter "notebook"]
	clean = poetry run jupyter nbconvert --ClearOutputPreprocessor.enabled=True --stdin --to=notebook --stdout
	smudge = poetry run jupyter nbconvert --ClearOutputPreprocessor.enabled=True --stdin --to=notebook --stdout
	required = true

[annex]
	adviceNoSshCaching = false

[safe]
	directory = /private/tmp
[tag]
	gpgSign = true
[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
