[MESSAGES CONTROL]
disable=
    line-too-long,
    invalid-name,
    missing-docstring,
    fixme,
    logging-format-interpolation,
    too-many-arguments,
    too-many-branches,
    too-many-locals,
    too-few-public-methods,
    no-else-return,
    logging-fstring-interpolation,
    unspecified-encoding
