[MESSAGES CONTROL]
disable=
    line-too-long,
    invalid-name,
    missing-docstring,
    too-few-public-methods,
    fixme,
    logging-format-interpolation,
    too-many-arguments,
    bad-whitespace,
    no-else-return
