show_frame=false
fg_set=true
bg_set=false
timezone=
width_set=false
height_set=false
data0=%X
font0=Terminus 11
tooltip=%A %d %B %Y/%V
hib_timing=false
lines_vertically=true
rotation=0
data1=%Y-%m-%d
font1=Terminus 10
fg=65535R 65535G 65535B
