[Desktop Entry]
Comment=Track everything on your computer.
GenericName=Log what you do on your computer.
Name=ActivityWatch
Exec=/home/erb/Applications/activitywatch/aw-qt
Hidden=false
StartupNotify=true
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=false
Version=1.0
Icon=activitywatch
Categories=Utility;

