[Unit]
Description=ActivityWatch
Documentation=

[Service]
Type=simple
ExecStart=/bin/activitywatch --debug
Environment="DISPLAY=:0"
Restart=always

[Install]
WantedBy=default.target
