[Unit]
Description=ActivityWatch
Documentation=
Requires=wait-for-xserver.service
After=wait-for-xserver.service

[Service]
Type=simple
ExecStart=/usr/local/bin/activitywatch --debug
Environment="DISPLAY=:0"
Restart=always

[Install]
WantedBy=default.target
