[Unit]
Description=arbtt
Documentation=Automatic, Rule-Based Time Tracker
Requires=

[Service]
Type=simple
ExecStart=/usr/bin/arbtt-capture --sample-rate=15
Environment="DISPLAY=:0"
Restart=always

[Install]
WantedBy=default.target
