[Unit]
Description=indicator-cpufreq
Documentation=
Requires=

[Service]
Type=simple
ExecStart=/usr/bin/indicator-cpufreq
ExecStop=/usr/bin/pkill indicator-cpufreq
Environment="DISPLAY=:0"
Restart=always

[Install]
WantedBy=default.target
