[Unit]
Description=Redshift
Documentation=
Requires=

[Service]
Type=simple
ExecStart=/usr/bin/redshift -l 55:13 -t 7000:2500 -b 1:0.8
ExecStop=/usr/bin/pkill redshift
Environment="DISPLAY=:0"
Restart=always

[Install]
WantedBy=default.target
