[Unit]
Description=Redshift
Documentation=
Requires=

[Service]
Type=simple
ExecStart=/usr/bin/redshift-gtk -l 55:13 -t 7000:2000 -b 1:0.75
ExecStop=/usr/bin/pkill redshift-gtk
Environment="DISPLAY=:0"
Restart=on-failure

[Install]
WantedBy=default.target
