[Unit]
Description=Rescuetime
Documentation=
Requires=

[Service]
Type=simple
ExecStart=/usr/bin/rescuetime
Restart=always

[Install]
WantedBy=graphical.target
