[Unit]
Description=Rescuetime
Documentation=

[Service]
Type=simple
ExecStart=/usr/bin/rescuetime
Environment="DISPLAY=:0"
Restart=always

[Install]
WantedBy=default.target
