[Unit]
Description=dunst, a notification daemon
Documentation=

[Service]
Type=simple
ExecStart=/bin/rofi -key-run F7 -key-window F8 -bg "#111" -fg "#fff" -hlbg $SELECTED_BG -hlfg $SELECTED_FG -hlbg-active $ACTIVE_BG -hlfg-active $ACTIVE_FG -fg-active $ACTIVE_FG
Environment="DISPLAY=:0"
Environment=SELECTED_BG="#011"
Environment=SELECTED_FG="#0FA"
Environment=ACTIVE_BG="#410"
Environment=ACTIVE_FG="#F40"
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
