[Unit]
Description=tmux: A terminal multiplixer
Documentation=man:tmux(1)
After=gpg-agent.service
Wants=gpg-agent.service

[Service]
Type=forking
ExecStart=/usr/bin/tmux new-session -s "Main" -d -c %h
ExecStop=/usr/bin/tmux kill-server
Environment="DISPLAY=:0"
EnvironmentFile=%h/.gpg-agent-info

[Install]
WantedBy=default.target
